
.wrapper {
  width: 90%;
  height: 1000px;
  margin: auto;
  font-family: sans-serif;
}
.menu {
  background-color: orangered;
  height: 100px;
}
.logo {
  position: relative;
  inset: 10px;
}
.search {
  border: 1px solid #67522b;
  position: relative;
  float: right;
  top: 30px;
  left: 130px;
  background-color: #272f54;
  color: white;
  height: 23px;
}
input::placeholder {
  color: rgb(179, 179, 179);
}
.check {
  float: right;
  position: relative;
  top: 30px;
  right: 100px;
  background-color: #ffffff;
  color: #000000;
  width: 150px;
  height: 20px;
  border: none;
}
.search:hover {
  background-color: aqua;
  border: 2px solid green;
}
.pick {
  position: relative;
  top: 10px;
  background-color: #2a5fa4;
  height: 65px;
}
.khung-menu {
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 1%;
  position: relative;
  top: 25px;
}
a:hover {
  color: #cdcdcd;
  transition: 0.5s all ease;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #a1ed08;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.info {
  height: 670px;
  width: 32%;
  display: inline-block;
  margin: 20px;
  position: relative;
  border: 1px solid #000;
}
.info-img {
  position: relative;
  inset: 10px;
}
.index {
  color: orangered;
  font-weight: bold;
  font-size: 25px;
  inset: 5px;
}
.noidung {
  font-size: 22px;
  inset: 10px;
}
li {
  font-size: 21px;
}
.luaga {
  float: right;
  position: relative;
  inset: -20px;
}
.dn {
  color: #2a5fa4;
  font-weight: none;
}
.logo_dn {
  width: 100%;
  border: 1px solid black;
  height: 180px;
}
.logo1 {
  position: relative;
  bottom: 20px;
}
footer {
  background-color: orangered;
  height: 120px;
  color: #fff;

}
footer > h1 {
  position: relative;
  top: 50px;
}
h2 {
  color: #122faf;
}
li {
  list-style: none;
}
li::before {
  content: "\2022";
  color: orangered;
}
.info:hover{
  transform: scale(1.015)
}
.info::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 6px;
  bottom: -5px;
  left: 0;
  background-color: #ed0808;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.info:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: 0.5s;
}
